body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
}

.credit-card-header {
  background-color: #FFA500; /* оранжевый цвет фона */
  color:#020311 ; /* цвет текста */
  padding: 10px 20px; /* отступы внутри блока */
  text-align: center; /* выравнивание текста по центру */
  font-weight:bold; /* жирный шрифт */
  margin-bottom: 20px; /* отступ снизу */
  border-radius: 50px; /* скругление углов */
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* тень для объёма */
  position: relative;
  top: 70px;
  margin-left: -32px;
}


form {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 24px;
  background-image: url('/src/123.jpg');
  background-size: cover; /* Масштабирует изображение под размер блока */
  background-repeat: no-repeat;
  background-position: center; /* Центрирует изображение */
  padding: 32px; /* Отступы внутри блока */
  width: 500px;
  height: 350px;
  padding-top: 60px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(230, 161, 71);
    margin: 1px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: rgb(238, 157, 51);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #020311;
}
