.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Общие стили для inputs */
.input-default {
margin: 5px;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}

.input-valid {
    margin: 5px;
  padding: 8px;
  border: 1px solid #4CAF50;
  border-radius: 4px;
}

.input-invalid {
    margin: 5px;
  padding: 8px;
  border: 1px solid #f44336;
  border-radius: 4px;
  background-color: #ffebee;
}

/* Стили для checkbox */

/* Скрываем стандартный чекбокс */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Контейнер для ползунка */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Сам ползунок (прямоугольник) */
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 30px;
  transition: 0.3s;
}

/* "Шарик" внутри ползунка */
.switch .slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

/* Когда чекбокс активирован (включён) */
.switch input:checked + .slider {
  background-color: #4CAF50; /* Зелёный */
}

/* Движение "шарика" при активации */
.switch input:checked + .slider:before {
  transform: translateX(28px);
}

/* Когда чекбокс неактивен (выключен) */
.switch input:not(:checked) + .slider {
  background-color: #f44336; /* Красный */
}


/* Стили для radio button */
.radio-checked {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.radio-unchecked {
  background-color: #eee;
  border-color: #ddd;
}

/* Стили для кнопок */
.btn-green {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.btn-green:hover {
  background-color: #3e8e41;
}

.btn-red {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.btn-red:hover {
  background-color: #d32f2f;
}

.btn-disabled {
  background-color: #ddd;
  color: #252525;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
  opacity: 0.6;
  margin: 5px;
}

/* Круглые кнопки */
.btn-round-green, .btn-round-red {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-round-green {
  background-color: #4CAF50;
  margin: 10px;
}

.btn-round-green:hover {
  background-color: #3e8e41;
  
}

.btn-round-red {
  background-color: #f44336;
  margin: 10px;
}

.btn-round-red:hover {
  background-color: #d32f2f;
  
}

/* Стили для textarea */
.textarea {
  width: 300px;
  height: 100px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  resize: vertical;
}
