body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
}

form {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 24px;
  background-image: url('123.jpg');
  background-size: cover; /* Масштабирует изображение под размер блока */
  background-repeat: no-repeat;
  background-position: center; /* Центрирует изображение */
  padding: 24px; /* Отступы внутри блока */
  width: 500px;
  height: 350px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(230, 161, 71);
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: rgb(238, 157, 51);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #020311;
}
